MYSQL_HOST=127.0.0.1
MYSQL_PORT=5523
MYSQL_DB=nome_da_base_de_dados
MYSQL_USER=utilizador_mysql
MYSQL_PASSWORD=senha_mysql
DJANGO_SECRET_KEY=gere_uma_chave_secreta_unica
INITIAL_ADMIN_PIN=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
SQLITE_PATH=./data/ocapitao.sqlite
APP_MODE=local
APP_TIME_ZONE=Africa/Maputo
SSH_PASSWORD=
REMOTE_API_BASE_URL=http://127.0.0.1:8001/api
SYNC_API_EMAIL=email_da_api
SYNC_API_PASSWORD=senha_da_api
SYNC_HEALTH_TIMEOUT=2
