MYSQL_HOST=127.0.0.1
MYSQL_PORT=5523
MYSQL_DB=salacsth_ocapitao
MYSQL_USER=salacsth_ocapitaomaster
MYSQL_PASSWORD=colocar_a_password_aqui
DJANGO_SECRET_KEY=alterar_esta_chave
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
SQLITE_PATH=./data/ocapitao.sqlite
APP_MODE=local
APP_TIME_ZONE=Africa/Maputo
REMOTE_API_BASE_URL=http://127.0.0.1:8001/api
SYNC_API_EMAIL=admin@ocapitao.local
SYNC_API_PASSWORD=1122
SYNC_HEALTH_TIMEOUT=2
